<h3>Show Room</h3>

<mat-divider></mat-divider>
<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button routerLink="/showroom/buttons">Buttons</button>
    <button mat-raised-button routerLink="/showroom/dialogs" color="primary">Dialogs</button>
    <button mat-raised-button routerLink="/showroom/datepicker" color="accent">Datepicker</button>
    <button mat-raised-button routerLink="/showroom/form-field-example" color="warn">Form Fields</button>
    <button mat-raised-button disabled>Disabled</button>
  </div>
</section>


<mat-divider></mat-divider>