<p>Seleccione solo las filas habilitadas, luego presione 'Listo'</p>


<div class="row">
	<div class="col-5">
		<button (click)="ListoButtonClick()" mat-flat-button color="primary">Listo</button>
	</div>
	<div class="col-5">

	</div>
</div>


<table mat-table [dataSource]="agentesDataSource" matSort>

	<ng-container matColumnDef="select">

		<th mat-header-cell *matHeaderCellDef>
			<mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
				[indeterminate]="selection.hasValue() && !isAllSelected()">
			</mat-checkbox>
		</th>

		<td mat-cell *matCellDef="let row">
			<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
				[checked]="selection.isSelected(row.seleccionado)">
			</mat-checkbox>
		</td>

	</ng-container>

	<ng-container matColumnDef="seleccionado">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>seleccionado</th>
		<td mat-cell *matCellDef="let element"> {{element.seleccionado}} </td>
	</ng-container>

	<ng-container matColumnDef="codAgente">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Código Agente</th>
		<td mat-cell *matCellDef="let element"> {{element.codAgente}} </td>
	</ng-container>

	<ng-container matColumnDef="disponible">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>disponible</th>
		<td mat-cell *matCellDef="let element"> {{element.disponible}} </td>
	</ng-container>

	<ng-container matColumnDef="rutCompletoAgente">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Rut Agente</th>
		<td mat-cell *matCellDef="let element"> {{element.rutCompletoAgente}}</td>
	</ng-container>

	<ng-container matColumnDef="rutAgente">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Rut Agente</th>
		<td mat-cell *matCellDef="let element"> {{element.rutAgente}}</td>
	</ng-container>

	<ng-container matColumnDef="dvAgente">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Rut Dv</th>
		<td mat-cell *matCellDef="let element"> {{element.dvAgente}}</td>
	</ng-container>

	<ng-container matColumnDef="habilitado">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Rut Agente</th>
		<td mat-cell *matCellDef="let element"> {{element.habilitado}}</td>
	</ng-container>

	<ng-container matColumnDef="nombreAgente">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Agente</th>
		<td mat-cell *matCellDef="let element"> {{element.nombreAgente}}</td>
	</ng-container>


	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


<table width="100%" class="mat-elevation-z8">
	<thead>
		<tr>
			<th>
				<!-- custom checkbox-->
				<input type="checkbox" [(ngModel)]="todosSeleccionados" [value]="-1"
					(change)="onChangeSelector($event)">
			</th>
			<th>codAgente</th>
			<th>disponible</th>
			<th>habilitado</th>
			<th>rutCompletoAgente</th>
			<th>nombreAgente</th>
		</tr>

	</thead>
	<tbody>
		<tr *ngFor="let n of listaAgentes">
			<td>
				<!-- custom checkbox-->
				<input type="checkbox" [value]="n.codAgente" [checked]="n.seleccionado" [disabled]="!n.habilitado"
					(change)="onChangeSelector($event)">

			</td>
			<td>{{n.codAgente}}</td>
			<td>{{n.disponible}}</td>
			<td>{{n.habilitado}}</td>
			<td>{{n.rutCompletoAgente}}</td>
			<td>{{n.nombreAgente}}</td>
		</tr>
	</tbody>
	<!-- // PAGINADOR // -->
</table>